<!DOCTYPE html>
    <html>
        <head>
  <title>My first Vue app</title>
  <meta charset="UTF-8">
  
  <script src="https://unpkg.com/vue"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="Shangai.css">
  
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

    <body>

        <div class="nav-bar">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">About</a></li>
              </ul>

        </div>
            

        <div id="app">
            
             
            <div class="product">
            <div class="product-image">
                <img v-for="i in 10" src="cat.jpeg"> 
                <div class="text">
                {{ message }}
                    </div>
                 
            </div>
            </div>
                
        </div>
          
          <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
          <script src="Shangai.js"></script>

    </body>
    </html>

